.form__close-btn {
  padding: 0;
  width: 32px;
  height: 32px;
  background: transparent;
  border: none;
  background-image: url(../../../images/close-btn.svg);
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: -35px;
  right: -35px;
  transition: .5s linear;
  cursor: pointer;
}

.form__close-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 560px) {
  .form__close-btn{
    top: -45px;
    right: 0;
  }
}

@media screen and (max-width: 400px) {
  .form__close-btn{
    width: 20px;
    height: 20px;
    top: -35px;
  }
}
