.profile__add-btn {
  width: 150px;
  height: 50px;
  background: transparent;
  border: 1px solid #fff;
  cursor: pointer;
  margin-left: auto;
  transition: .5s linear;
}

.profile__add-btn:hover {
  opacity: .6;
}
